<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/global.css">
</head>
<body>
<%- include("partials/header.ejs")  %>   
<div class="page">
<h1 class="MainHead"> Read your blogs below ↴</h1>
<div class="content">
  <div class="outer">
  <% for(let i=blogs.length-1; i>=0; i--) { %>
  <div class="card" style="width: 18rem;">
  <div class="card-body">
    <h4 class="card-title"><%= blogs[i][1] %></h4>
    <p class="card-text"><%= blogs[i][2] %></p>
    <a href="/blog/<%=blogs[i][0]%>" class="card-link">Read More</a>
  </div>
  </div>
  <% }; %>

  <div class="card" style="width: 18rem;">
  <div class="card-body">
    <h4 class="card-title">Sample Blog</h4>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card’s content.</p>
    <a href="/blog/sample" class="card-link">Read More</a>
  </div>
  </div>

  <div class="card" style="width: 18rem;">
  <div class="card-body">
    <h4 class="card-title">Sample Blog</h4>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card’s content.</p>
    <a href="/blog/sample" class="card-link">Read More</a>
  </div>
  </div>

  <div class="card" style="width: 18rem;">
  <div class="card-body">
    <h4 class="card-title">Sample Blog</h4>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card’s content.</p>
    <a href="/blog/sample" class="card-link">Read More</a>
  </div>
  </div>
</div>
</div>
<%- include("partials/footer.ejs")%>
</div>
    
</body>

</html>
